<ecp-flex-tcb [topHeight]="50">
  <ecp-flex-top>
    <ecp-top-nav>
      <span class="logo"><img src="assets/base/logo.png"/></span>
      <span class="name">前端通用组件测试</span>
      <a href="javascript:void(0);" class="logout">退出</a>
      <ecp-user-info [userName]="'管理员'"></ecp-user-info>
      <ecp-user-info-list>
        <li (click)="nav('姓名')">李先生</li>
        <li (click)="nav('修改密码')">修改密码</li>
        <li (click)="nav('退出')">退出</li>
      </ecp-user-info-list>
      <ecp-drop-down-menu [menusList]="menusList" (navUrl)="test($event)"></ecp-drop-down-menu>
      <ecp-alarm [alarmTitle]="'警报'" [alarmList]="alarmList" (disposed)="disposedId($event)"
                 (viewAll)="test('点击*查看全部*调用')">
      </ecp-alarm>
    </ecp-top-nav>
  </ecp-flex-top>
  <ecp-flex-body>
    <ecp-flex-lcr [leftWidth]="60">
      <ecp-flex-left><ecp-nav-bar [ecpStyle]="{'z-index':'100000','left':'0px','top':'50px','bottom':'0px'}" [menuList]="leftNavList" (goTo)="indexNavGoto($event)" ></ecp-nav-bar></ecp-flex-left>
      <ecp-flex-body><router-outlet></router-outlet></ecp-flex-body>
    </ecp-flex-lcr>
  </ecp-flex-body>
</ecp-flex-tcb>
